<body class="background_servicios_usuario">
<div class="container containerLogin">
    <div class="botones">
        <a class="btn btn-primary botonesAcciones" asp-controller="Login" asp-action="CreateSC">SOLICITUD DE CITAS</a><br>
        <a class="btn btn-primary botonesAcciones" asp-controller="Login" asp-action="CreatePF">PAGO DE FACTURAS</a><br>
        <a class="btn btn-primary botonesAcciones" asp-controller="Login" asp-action="CreateAM">AUTORIZACION DE MEDICAMENTOS</a><br>
        <a class="btn btn-primary botonesAcciones" asp-controller="Login" asp-action="CreateIG">IMFORMACION GENERAL</a>
        <a class="btn btn-primary botonesAcciones" asp-controller="Login" asp-action="" asp-route-id="" >PREFERENCIAL</a>
    </div>
</div>
</body>
