
<body class="body_login">
<div class="form-card1">
  <div class="form-card2">
    <form class="form" asp-controller="Login" asp-action="Login" method="post">
      <p class="form-heading"><b>Bienvenido al control <br> de usuario</b></p>
      <div class="form-field">
        <input required="" 
            name="NombreLogin"
            placeholder="Usuario" 
            class="input-field" 
            type="text" />
      </div>
      <div class="form-field">
        <input
          required=""
          placeholder="Contraseña" 
          name="ContraseñaLogin"
          class="input-field"
          type="password"
        />
      </div>
      <button class="sendMessage-btn">Ingresar</button>
    </form>
  </div>
</div>
</body>
