

<div class="container containerLogin">
    <form asp-controller="Login" asp-action="Login" method="post">
        <div class="card cardLogin">
            <div class="card-body">
                <h1 class="h1Login">Bienvenido</h1>
                <label for="">Nombre</label><br>
                <input class="inputLogin" type="text" name="NombreLogin" >
                <label for="">Contraseña</label><br>
                <input class="inputLogin" type="password" name="ContraseñaLogin" >
                <button type="submit" class="btn1 btn-primary botonLogin">Ingresar</button>
                <h1 class="h1Alerta">@TempData["alerta"]</h1>
            </div>
        </div>
    </form>
</div>