<div class="container containerLogin">
    <div class=" cardUsuario">
        <div class="card-body">
            <h1>Bienvenido al sistema de <br>gestion de usuarios</h1>
            <input class="inputUsuario" placeholder="Ingrese su numero de indentificacion" type="text" id="inputTeclado">
            <div class="teclado">
                <div>
                    <button onclick="teclear(1)" class="BotonTeclado">1</button>
                </div>
                <div>
                    <button onclick="teclear(2)" class="BotonTeclado">2</button>
                </div>
                <div>
                    <button onclick="teclear(3)" class="BotonTeclado">3</button>
                </div>
                <div>
                    <button onclick="teclear(4)" class="BotonTeclado">4</button>
                </div>
                <div>
                    <button onclick="teclear(5)" class="BotonTeclado">5</button>
                </div>
                <div>
                    <button onclick="teclear(6)" class="BotonTeclado">6</button>
                </div>
                <div>
                    <button onclick="teclear(7)" class="BotonTeclado">7</button>
                </div>
                <div>
                    <button onclick="teclear(8)" class="BotonTeclado">8</button>
                </div>
                <div>
                    <button onclick="teclear(9)" class="BotonTeclado">9</button>
                </div>
                <div>
                    <button onclick="teclear(0)" class="BotonTeclado">0</button>
                </div>
                <div>
                    
                </div>
                <div>
                    <button onclick="borrar()" class="BotonTeclado">Borrar</button>
                </div>

            </div>
            <a class="btn btn-primary botonUsuario" asp-controller="Login" asp-action="Botones">Aceptar</a>
        </div>
    </div>
</div>