<div class="container containerLogin">
    <div class="card cardUsuario">
        <div class="card-body">
            <h1>Bienvenido al sistema de <br>gestion de usuarios</h1>
            <input class="inputUsuario" placeholder="Ingrese su numero de indentificacion" type="text" value="">
            <div class="teclado">
                <div>
                    <button class="BotonTeclado">1</button>
                </div>
                <div>
                    <button class="BotonTeclado">2</button>
                </div>
                <div>
                    <button class="BotonTeclado">3</button>
                </div>
                <div>
                    <button class="BotonTeclado">4</button>
                </div>
                <div>
                    <button class="BotonTeclado">5</button>
                </div>
                <div>
                    <button class="BotonTeclado">6</button>
                </div>
                <div>
                    <button class="BotonTeclado">7</button>
                </div>
                <div>
                    <button class="BotonTeclado">8</button>
                </div>
                <div>
                    <button class="BotonTeclado">9</button>
                </div>
                <div>
                    <button class="BotonTeclado">0</button>
                </div>
                <div>
                    
                </div>
                <div>
                    <button class="BotonTeclado">Borrar</button>
                </div>

            </div>
            <button class="btn btn-primary botonUsuario">Aceptar</button>
        </div>
    </div>
</div>