<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Turno</th>
            <th>ACTIONS</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var turno in Model) {
            <tr>
                <td>@turno.Tipo - @turno.Numero</td>
                <td>
                    <a asp-area="" asp-controller="" asp-action="" asp-route-id="" class="btn btn-primary">Atender</a>
                </td>
            </tr>
        }
    </tbody>
</table>