
<div>
    @{
    if(ViewBag.CantidadSC>ViewBag.CantidadPF && ViewBag.CantidadSC>ViewBag.CantidadAM
       && ViewBag.CantidadSC>ViewBag.CantidadIG){

        <div id="mensaje" class="alert alert-danger" role="alert">
            <p>Creo que el m贸dulo 1 necesita asistencia</p>
        </div>


    }else if(ViewBag.CantidadPF>ViewBag.CantidadSC && ViewBag.CantidadPF>ViewBag.CantidadAM
       && ViewBag.CantidadPF>ViewBag.CantidadIG){

        <div id="mensaje" class="alert alert-danger" role="alert">
            <p>Creo que el m贸dulo 2 necesita asistencia</p>
        </div>


    }else if(ViewBag.CantidadAM>ViewBag.CantidadSC && ViewBag.CantidadAM>ViewBag.CantidadPF
       && ViewBag.CantidadAM>ViewBag.CantidadIG){

        <div id="mensaje" class="alert alert-danger" role="alert">
            <p>Creo que el m贸dulo 3 necesita asistencia</p>
        </div>


    }else if(ViewBag.CantidadIG>ViewBag.CantidadSC && ViewBag.CantidadIG>ViewBag.CantidadAM
       && ViewBag.CantidadIG>ViewBag.CantidadPF){

        <div id="mensaje" class="alert alert-danger" role="alert">
            <p>Creo que el m贸dulo 2 necesita asistencia</p>
        </div>


    }
}

</div>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Turno</th>
            <th>ACTIONS</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var turno in Model) {
            <tr>
                <td>@turno.Tipo - @turno.Id</td>
                <td>  
                    
                        <a type="submit" class="btn btn-primary">Atender</a>

                </td>
            </tr>
        }
    </tbody>
</table>