

<body class="table_Histories">

    <h1 class="text mb-1"><b>Su turno</b></h1>
<div class="row ">
        <table class="table col1 card">
        <thead>
                <tr>
                    <th scope="col"  cla><b>Modulo</b></th>
                    <th scope="col" ><b>Turno</b></th>
                    
                </tr>
            </thead>
        <tbody class="table back">
             @foreach (var Turno in Model)
            {
                <tr>
                    <td scope="row"><b>@Turno.ModuloId</b></td>
                    <td scope="row"><b >>_______@Turno.Tipo - @Turno.Numero</b></td>
                    
                </tr>
            }    
            </tbody>
        </table>  
</div>


</body>