@* <div class="container containerLogin">
    <table class="table table-striped table-bordered tablaTv">
        <thead>
            <tr>
                <th class="thTv">Puesto</th>
                <th class="thTv">Turno</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var t in Model){
                <tr>
                    <td class="tdTv tdPuesto">@t.puesto</td>
                    <td class="tdTv">@t.TurnoId</td>
                </tr>
            }
        </tbody>
    </table>
</div>
 *@


<body class="table_Histories">

    <h1 class="text mb-1"><b>Su turno</b></h1>
<div class="row ">
        <table class="table col1 card">
        <thead>
                <tr>
                    <th scope="col"  cla><b>Modulo</b></th>
                    <th scope="col" ><b>Turno</b></th>
                    
                </tr>
            </thead>
        <tbody class="table back">
             @foreach (var Turno in Model)
            {
                <tr>
                    <td scope="row"><b>@Turno.puesto</b></td>
                    <td scope="row"><b >>_______@Turno.TurnoId</b></td>
                    
                </tr>
            }    
            </tbody>
        </table>  
</div>


</body>