

<<<<<<< HEAD

<div class="container">
     <div class="row">

        <div class="text-center mx-auto" class="col-md-12">
            <h1>Elige el módulo en el que deseas trabajar</h1>
        </div>
       
    </div><br>

    <div class="row">

        <div class="text-center mx-auto" class="col-md-6">
            <button type="button" class="btn btn-primary btn-lg" >Módulo 1</button>
        </div>
       
    </div><br>

    <div class="text-center mx-auto" class="col-md-6">
        <div>
            <button type="button" class="btn btn-lg btn-primary btn-block">Módulo 2</button>
        </div>
    </div><br>

    <div class="text-center mx-auto" class="col-md-6">
        <div>
            <button type="button" class="btn btn-lg btn-primary btn-block">Módulo 3</button>
        </div>

    </div><br>

    <div class="text-center mx-auto" class="col-md-6">
        <div>
            <button type="button" class="btn btn-lg btn-primary btn-block">Módulo 4</button>
        </div>
        
    </div>
        
  
</div>
=======
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Contraseña</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var ad in Model){
                <tr>
                    <td>@ad.Nombre</td>
                    <td>@ad.Correo</td>
                    <td>@ad.Contraseña</td>
                    <td>
                        <a class="btn btn-success" asp-controller="" asp-action="" asp-route-id="@ad.Id" >Atender</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div> 
>>>>>>> 1192c40ddce837339a5e44f69a9639aed7112524
