


.h1Login{
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 60px;
}

.inputLogin{
    width: 100%;
    height: 40px;
    margin-bottom: 40px;
}

label{
    font-weight: bold;
    font-size: 20px;
}

.botonLogin{
    width: 60%;
}



.cardUsuario{
    width: 800px;
    top: 50px;
    text-align: center;
}

.teclado{
    margin: auto;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    margin-bottom: 30px;
}

.BotonTeclado{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    padding: 0%;
    margin: 0%;
    font-size: 40px;
}



.botonUsuario{
    width: 50%;
}

.botones{
    width: 600px;
    height: 600px;
    margin: auto;
}


.botonesAcciones{
    margin-top: 50px;
    width: 300px;
    height: 50px;
    display: grid;
    place-content: center;
}

.cardTurnito{

    margin-top: 250px;
    background-color: rgba(0, 255, 255, 0.407);

    
}

.h1suTurno{
    font-size: 50px;
    color: black;
}

.elTurno{
    font-size: 100px;
    color: red;
}

.h1Alerta{
    margin-top: 10px;
    font-size: 20px;
    color: red;
}

.tablaTv{
    width: 400px;
    margin-top: 100px;
}

.thTv{
    font-size: 60px;
}

.tdTv{
    font-size: 40px;
    font-weight: bold;
}

.tdPuesto{
    color: red;
}

.botonModulo{
    width: 500px;
}
/*teclado users*/
.card-turno{
    background-color: rgba(44, 232, 11, 0.682);
    color: rgb(250, 0, 221);
    border-radius: 15px;
    border: 4px solid ;
    margin:20px;
    text-align: center;
    font-size: 400px;
  }
  .inputUsuario{
    width: 90%;
    height: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    border-radius: 15px;
    border: solid 2px ;
}
.title-teclado{
 text-align: center;
 font-size: 100px;
 color: antiquewhite;
}
.containerLogin{
    width: 100%;
    margin-right: 600px;
    place-content: center;
    border-radius: 15px;   
}
.background_servicios_usuario{
    background-image: url("https://img.freepik.com/free-vector/flat-hand-drawn-hospital-reception-scene_52683-55313.jpg");
    background-repeat: no-repeat ;
    background-size: cover;
}

.cardLogin{
    width: 400px;
    height: 500px;
    border: 1px solid black;
    text-align: center;
    top: 100px;
    border-radius: 15px;
}
.body_teclado{
    background-image: url("https://www.shutterstock.com/image-vector/medical-equipment-3d-cartoon-style-600nw-2114404790.jpg");
    background-repeat: no-repeat ;
    background-size: cover;

}
 /*ficho_turno*/
 .ficho_turno{
    background-image: url("https://www.shutterstock.com/image-vector/medical-form-list-results-data-600nw-1511231000.jpg");
    background-repeat: no-repeat ;
    background-size: cover;
}
